main{
    width:80%;
    height:100%;
    padding: 40px;
    border: 2px solid black;
    margin:10%;
    margin-top:50px;
    box-shadow: 10px 10px 10px grey;
}
h2 {
    color: white;
}
h3 {
    color: magenta;
}
.box{
    background-color:purple ;
    height: 200px;
    width:300px;
    display: inline-block;
    border-radius: 5px;
    padding: 30px;

}
